doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon-32x32.png")
    title Frontend Mentor | Sunnyside agency landing page

    //- Fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap', rel='stylesheet')

    //- Style
    link(rel="stylesheet", href="main.css")

  body 
    section.hero
      img.background(src="images/mobile/image-header.jpg", alt=" ", width="1000")
      .container 
        header
          img.logo(src="images/logo.svg", alt="sunnyside")
          nav
            img#menu-btn.menu-icon(src="images/icon-hamburger.svg", alt="navigation")
            ul 
              li 
                a(href="#about") About
              li 
                a(href="#services") Services
              li 
                a(href="#projects") Projects
              li 
                a(href="#contact") Contact

        .title
          h1 We Are Creatives
          img.arrow(src="images/icon-arrow-down.svg", alt="Scroll Down")

    script.
      document.getElementById("menu-btn").onclick = function () {
        this.nextElementSibling.classList.toggle("opened")
      }
      